@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none; }

.active-button {
    background-color: var(#302c2c);
}
